@model zadanie_rekrutacyjne.Todo;
@{
	ViewData["Title"] = "Edit Model";
}
<form id="editTodo">
	<div class="todoform"></div>
	<div class="todoform"></div>
	<div class="todoform"></div>
	<div class="todoform"></div>
	<div class="todoform"></div>
</form>